
#top {
    position: relative;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    width: 940px;
    margin: auto;
    margin-bottom: 35px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    clear: both;
    width: 920px;
    margin: auto;
}

#mainbody{
    width: 930px;
    margin: auto;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 250px;
    margin: 0px;
}


#content {
    background-color: #dddddd;
    padding: 5px;
    width: 660px;
}

#top{
    clear: both;
}

#varbar{
    top: 175px;
    margin: auto;
    width: 918px;
    height: 35px;
    background: url('../images/But2Mid.png') repeat;
    float: left;
}
#varbar a{
    height: 15px;
    padding: 10px;
    float: left;
    color: #000;
    text-decoration: none;
}
#varbar a:link{
    color: #000;
    text-decoration: none;
}
#varbar a:hover{
    background: url('../images/But2MidB.png') repeat;
    cursor: pointer;
}

